
body {
  background-color: #E8ECEF;
  font-family: 'Raleway', sans-serif;
}

.centered {
    padding-top: 200px;
    text-align: center;
}

.secret-text {
  text-align: center;
  font-size: 1.3rem;
  color: #fff;
  background-color: #000;
}

.myStyle{
  font-family: 'Righteous', cursive;
  color: #E30B5C;
  font-size: 3rem;
}
